@model Task_2.Models.MoneyDonations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MoneyDonations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donationAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donationAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAnonymous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAnonymous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disasteType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disasteType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
